body {
    font-family: protest riot;
    background-color: #D98F07;
    color: #4A2F59;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Josefin Sans;
    text-align: center;
    font-size: 40pt;
}

h2 {
    margin: 0.1em;
}


header{
    text-align: center;
}

#hero, footer {
    color:#2d1b37;
    border: 2px solid #8C07D9;
    background-color: #a4acf2;
    text-align:center;
    padding: 10px;
}

/* Hero Section */

#hero img {
    width:300px;
}

/* Bio Section */

#bio {
    text-align: center;
}

/* Hobbies */
section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul li:nth-child(even) {

    color: #4A2F59;
}

/* Gallery */

#gallery {
    border: 2px solid #8C07D9;
    margin-bottom: 2rem;

}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}

/* Literature */
#lit {
    border: 2px solid #8C07D9;
    margin-bottom: 2rem;
}

#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear:both;
}

/*Dropcaps */

#lit div p:first-child:first-letter {
    color:#4A2F59;
    background-image: -moz-radial-gradient(white);
    float: left;
    font-size:3em;
    padding:.25em;
    line-height:.65;
    border: 4px solid #4A2F59;
    border-top-left-radius: .2em;
    border-bottom-right-radius: .2em;

}

/* tablet size */

@media screen and {
min-width: 100em 
}
 figure {
    display:grid;
    grid-template-columns: 2fr 1fr;  

}

 figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }

    #lit div {
        max-width: 100%;
        columns: 40rem;
    }

    /* large screen size */

@media screen and {
    min-width: 100em;

}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

hr {
    display: none;
}

#gallery h2 {
    grid-column: 1/-1;
}

figure {
    display:block;
}